/* Base styles (mobile-first) */
.headerTitle,
.headerSubtitle {
  font-family: "EB Garamond", serif;
  display: flex;
  justify-content: center;
}

.headerTitle {
  font-size: 50px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.headerSubtitle {
  font-size: 25px;
  margin-bottom: 0.5%;
}

.getStartedButton {
  border-radius: 0;
  padding: 15px;
  font-weight: bold;
  align-items: center;
  --bs-btn-hover-bg: black;
  width: 100%;
}

.buttonHr {
  width: 100%;
  opacity: 1;
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .getStartedButton {
    margin: 5% 1% 12% 1%;
  }

  .buttonHr {
    width: 25px;
  }
}

/* Below large breakpoint */
@media only screen and (max-width: 991.98px) {
  .getStartedButton {
    margin: 15% 1% 15% 1%;
  }
}
