.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStartedButton {
  margin: 1% 1% 2% 1%;
  border-radius: 0%;
  padding: 15px;
  font-weight: bold;
  align-items: center;
  --bs-btn-hover-bg: black;
}

.headerTitle {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.headerSubtitle {
  font-family: "EB Garamond", serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5%;
}

.buttonHr {
  width: 20px;
  opacity: 1;
}
